:global(:root) {
  --body-bg: #ffffff;
  --text-color: #333333;
}

:global([data-theme="dark"]) {
  --body-bg: #1a1a1a;
  --text-color: #f0f0f0;
}

:global(body) {
  background-color: var(--body-bg);
  color: var(--text-color);
  transition: all 0.3s ease;
}
